body{
    font-family: Courier New, Courier, sans-serif;
    background-color: #5A8DFF;
}

#geral{
    padding-right: 10%;
    padding-left: 10%;
}

#corpo{
    background-color: #66B4FF;
    padding: 2%;
}

#yt{
    margin: 20px;
}

#header{
    margin-top: -2%;   
    width: 100%;
    height: 20%;
    background-color: #000000;
}