
#titulo {

    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: white;
    background-color: #004882;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 40px;
    margin: 0px;
    
}

#creditos {

    font-family: 'Trebuchet MS', sans-serif;
    color: #188A96;
    margin-top: 15px;
    padding-left: 50px;

}

.topico{

    font-family: 'Trebuchet MS', sans-serif;
    color: #307f8a;
    font-size: 50px;
    font-weight: 800;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.destaque{

    font-family: sans-serif;
    line-height: 40px;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #307f8a;

}

.destaque::first-letter{

    font-size: 250%;
    color:#004882;
    letter-spacing: 4px;
}

.quote{

    font-size: 25px;
    color: #307f8a;
    padding-right: 400px;
    padding-left: 400px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.quote::first-letter{

    font-size: 200%;
    color:rgb(45, 47, 104);
    letter-spacing: 3px;
}

body {

    margin: 0px;
    border-style: solid;
    border-color: #5bcfb2;
    border-width: 0px;
    border-left-width: 80px;
    padding: 0px;
    padding-bottom: 100px;
    
}

#efeitoborda {

    border-width: 0px;
    border-style: solid;
    border-color: rgb(45, 47, 104);
    border-left-width: 5px;
    border-right-width: 5px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#imagem {

    border-width: 0px;
    padding: 0px;

    margin: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(198, 234, 243);
    text-align: center;
}

p {
    padding-left: 300px;
    padding-right: 300px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 21px;
    color:rgb(45, 47, 104);
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 40px;
    text-align: justify;
}