#title {
    color: #FFFFFF;
    font-size: 300%;
    text-align: center;
    margin-bottom: 30px;
    padding: 25px;
}

#news{
    text-align: center;
    color: #FFFFFF;
    font-size: 200%;
    padding-top: 2%;
}