.container
{ 
    max-width: 100%;
    margin: auto;
    padding: 0% 1%;
}
/*Desktop (large)*/
     .col_G_1 , .col_G_2 , .col_G_3 , .col_G_4 , .col_G_5 , .col_G_6 , .col_G_7 , .col_G_8 , .col_G_9 , .col_G_10 , .col_G_11 , .col_G_12{
        padding: 0 1% 0 1%;
        float: left;
    }

    .col_G_1   {    width:6.17;      } 
    .col_G_2   {    width:14.33%;    } 
    .col_G_3   {    width:22.50%;    }
    .col_G_4   {    width:30.67%;    }
    .col_G_5   {    width:38.83%;    }
    .col_G_6   {    width:47.00%;    } 
    .col_G_7   {    width:55.17%;    } 
    .col_G_8   {    width:63.33%;    } 
    .col_G_9   {    width:71.59%;    } 
    .col_G_10  {    width:79.67%;    } 
    .col_G_11  {    width:87.83%;    }
    .col_G_12  {    width:96.00%;    }


/* Tablet (medium)*/
@media screen and (max-width: 768px) {

    .col_M_1 , .col_M_2 , .col_M_3 , .col_M_4 , .col_M_5 , .col_M_6 , .col_M_7 , .col_M_8 , .col_M_9 , .col_M_10 , .col_M_11 , .col_M_12{
        padding: 0 1% 0 1%;
        float: left;
    }

    .col_M_1   {    width:6.17;      } 
    .col_M_2   {    width:14.33%;    } 
    .col_M_3   {    width:22.50%;    }
    .col_M_4   {    width:30.67%;    }
    .col_M_5   {    width:38.83%;    }
    .col_M_6   {    width:47.00%;    } 
    .col_M_7   {    width:55.17%;    } 
    .col_M_8   {    width:63.33%;    } 
    .col_M_9   {    width:71.59%;    } 
    .col_M_10  {    width:79.67%;    } 
    .col_M_11  {    width:87.83%;    }
    .col_M_12  {    width:96.00%;    }
}

/* Mobile(small)*/
@media screen and (max-width: 480px) {

    .col_P_1 , .col_P_2 , .col_P_3 , .col_P_4 , .col_P_5 , .col_P_6 , .col_P_7 , .col_P_8 , .col_P_9 , .col_P_10 , .col_P_11 , .col_P_12{
        Padding: 0 1% 0 1%;
        float: left;
    }

    .col_P_1   {    width:6.17;      } 
    .col_P_2   {    width:14.33%;    } 
    .col_P_3   {    width:22.50%;    }
    .col_P_4   {    width:30.67%;    }
    .col_P_5   {    width:38.83%;    }
    .col_P_6   {    width:47.00%;    } 
    .col_P_7   {    width:55.17%;    } 
    .col_P_8   {    width:63.33%;    } 
    .col_P_9   {    width:71.59%;    } 
    .col_P_10  {    width:79.67%;    } 
    .col_P_11  {    width:87.83%;    }
    .col_P_12  {    width:96.00%;    }
}
