.container {
    width: 100%;
}

.col4, .col8, .col12 {
    float: left;
    padding: 0 1% 0 1%;
}

.col4 { width: 31.3%; }
.col8 { width: 64.6%; }
.col12 { width: 97.9%; }

@media screen and (max-width: 768px) {
    .col-md-12{
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .col-sm-12{
        width: 100%;
    }
}
