.container {
    width: 80%;
    max-width: 1280px;
    margin: auto;

}

.row {
    
}

.col{
    float: left;
    padding: 0 1%;
}


.col1{
    width: 6.33%; 
}
.col2{
    width: 14.66%;
}
.col3{
    width: 22.99%;
}
.col4{
    width: 31.32%;
}
.col5{
    width:39.65%;
}
.col6{
   width: 47.98%;
}
.col7{
   width: 56.31%;
}
.col8{
   width: 64.64%;
}
.col9{
   width: 72.97%
}
.col10{
   width: 81.3%;
}
.col11{
   width: 89.63%;
}
.col12{
   width: 98%;
}