.container{
    width:100%;
    max-width:1200px;
}

.row{
    display:flex;
    flex-wrap:wrap;
    margin:0 -1%;
}

.col4, .col8, .col12{
    float:left;
    padding:0 1% 0 1%;
}

.col4{
    width:30%;
}

.col8{
    width:62%;
}

.col12{
    width:98%;
}