
@media screen and (max-width: 568px){
    .col_small{
        width: 98%;
    }

    body{
        width: 95%;
    }
}

@media screen and (max-width: 768px){
    .col_medium{
        width: 98%;
    }
}

@media screen and (max-width: 992px){
    
}