*{
    font-family: 'Courier New', Courier, monospace;
    background: #9C6E6D;
    color: #E7E8D1;
    padding: 0 10%;
}
h1{
    font-size: 72px;
    text-align: center;
    margin: 10px;
    color: #A2C9E8;
    padding: 10px;
}
h2{
    text-align: right;
    font-style: italic;
}
p{
    text-align: justify;
    line-height: 150%;
}
p:first-of-type{
    color: #FFFCD9;
}
p:first-of-type::first-letter{
    font-size: 350%;
}
a{
    font-weight: bold;
    color: #EC7A76;
    padding: 0 0 0 10%;
    width: fit-content;
}
a:visited{
    color: #E8BBBA;
}
a:hover{
    color: #E8AEE1;
}
a:active{
    color: #EB101F;
}
h3, h4, h5, h6{
    text-align: left;
    font-style: italic;
}
svg{
    display: inline-block;
    margin-right: auto;
    width: 10px;
    height: auto;
}
i{
    padding: 0;
}