*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;   
}

body{
    margin-left: 10%;
    margin-right: 10%;;
}

#Titulo{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5%;
    background-color:indigo ;
    color: orangered;
    padding: 50px;
}