*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;   
}

body{
    margin-left: 10%;
    margin-right: 10%;;
}

#Titulo{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5%;
    background-color:indigo ;
    color: orangered;
    padding: 50px;
}

#Noticia{
    text-align: right;
    font-style: italic;
    font-size: 2rem;
}

.subtitulo2{
    text-align: left;
    font-style: italic;
    font-size: 1.5rem;
    padding-top: 30px
}

p{
    text-align: justify;
    line-height: 25px;
}

a:link{
    font-weight:bold;
}

a:active{
    color: orangered;
}

a:hover{
    color:aqua ;
}
a:visited{
    color: gold;
}

img{
    max-width: 100%;
}

h2 + p::first-letter, h3 + p::first-letter{
    font-size: 2rem;
    font-weight: bold;
}

#Noticia + p::first-letter{
    font-size: 2rem;
    font-weight: bold;
}

#Noticia + p{
    color: grey;
}

h2,h3{
    text-align: left;
}