html{
   /*width: 100%; /* largura*/
   /*max-width: 1280px;
   margin-bottom:2%; /*define a margem embaixo*/
}
body{
    font-family: Verdana; /*fonte*/
    background-color: blueviolet; /*cor da fonte*/
    color: aliceblue; /*cor da letra*/
    line-height: 1.5rem; /*distancia entre as linhas*/
    text-align: center; /*alinhamento do texto, no centro*/
    /*ao decorrer do código vã0 existir vários text align, quanto mais especifico maior a prevalência*/

    
    
    
}

h1,h2,h3,h4,h5,h6{ /*acessa todos os títulos*/
    text-align: center; /*alinha os textos no centro*/

}

h1{
    line-height: 1.8rem; /*distância entre as linhas*/
}
h2{
    line-height: 1.4rem; /*distância entre as linhas*/
}
h3{
    line-height: 1.2rem; /*distância entre as linhas*/
}
#zen-summary { /*.summary puxa a classe pelo id # summary*/
    text-align: right; /*alinha os textos da classe zen summary a direita*/

}
#zen-supporting{ /*acessa o texto central*/
   /* width: 62%;*/
    /*float: left;*/

}
.sidebar{ /*acessa painel lateral pela classe (.)*/
/*width: 33%;*/
/*float: left; /*alinha a esquerda do espaço possuído*/
/*padding-left: 10px; /*espaçamento interno a direita e esquerda*/
/*padding-right: 10px;*/
}

#zen-supporting p{  /*Especificando que quer configurar todos os p do zen supporting*/

    line-height: 1.5; /*distância entre as linhas*/
    
}
p{ /*acessa todos o p do código*/
    text-align: center; /* alinha o texto no centro*/
}
a{ /*acessa todos os a (links) da página*/
font-weight: 700; /*intensidade da fonte (ex negrito)*/
color: aqua; /*define a cor dos lins*/
}

abbr{ /*acessa abreviaturas*/
   color: aqua; /*define a cor das abreviatura*/
}
footer { /*rodapé da página html*/
    position: fixed; /*geralmente os elementos se mantem fixos de acordo com a página*/
    /*nesse caso do position deixamos o rodape fixo (não muda de acordo com a página)*/
    bottom:0; /*define a posição vertical do elemento em relação a janela do navegador*/
    background-color: red; /*define a cor do rodape*/
    color: black; /*define a cor das letras do rodape*/
    text-align: center; /*alinha o texto no centro*/
    line-height: 20px; /*espaço para começar a escrita*/
    display: block;
   /* width: 100%; /*largura*/
   padding: 1%; /*a distância entre o elemento e as bordas da página*/

}
footer a{ /*mexe nos links do footer */
margin: 1%;
margin-left: 1%; /*espaço a esquerda*/
color: black;


}
.sidebar li{ /* acessa as listas do sidebar */
    line-height: 1em; /* espaçamento entre as linhas*/
    list-style: none; /* tira os estilos (nesse caso pontos) das linhas*/
    border-top-style: solid ; /*coloca uma linha continua em cima (top) de cada elemento*/
    border-top-width: 2px; /* define a expessura da borda superior para 2px/*
    


}
.sidebar li:last-child{ /*acessa o ultimo elemento*/
    border-bottom: solid; /*define a borda de baixo como continua*/
}
.sidebar h1,h2,h3,h4,h5,h6{ /*acessa os títulos do sidebar*/
    text-align: center; /*alinha os titutulos no centro*/

}
#zen-supporting ::first-letter{ /*acessa todas as primeiras letras dos paragrafos da parte principal*/
    font-size: 2em; /*define o tamanho da fonte*/
    font-weight: bolder; /*define o negrito*/
    border-top: solid 0.5px; /*border top todas as propriedades da borda superior*/ /*solid= borda continua 0,5px grossura*/
    border-bottom: solid  0.5px; /*border bottom todas as propriedades da borda inferior*/ /*solid= borda continua 0,5px grossura*/
}



#zen-supporting ::first-letter{
    font-size: 2em; /*tamanho da letra */
    font-weight: bolder; /*deixa a fonte em negrito */
    border-top: solid 0.5px; /* deixa a borda de cima solida e com 0.5px*/ /*border top acessa todos os elementos da borda*/
    border-bottom: solid  0.5px; /* deixa a borda de baixo solida e com 0.5px de expessura*/
}

 
a{ /*referencias a links*/
    color: wheat; /*define a cor dos links para branco*/
    text-decoration: none; /*tira todas as decorações dos textos,(underline, overline etcs*/
}

a:hover{  /*hover quer dizer que o mousse está posicionado sobre o link*/
    text-decoration: underline; /*coloca um underline em todos os links tocados pelo usuario*/
    color: wheat; /*define a cor dos links tocados para branco*/
}

a:visited{  /*visited quer dizer que link já foi visitado, é bem limitado por privacidade*/
    color: wheat; /*define a cor dos links tocados para branco*/
}

.design-selection{ /*dentro da classe design, acessa os selections (coisas selecionadas como cntl c cntrv)*/
    display: block; /*coloca essas partes selecionadas em bloco*/
    font-size: 0.8em; /*tamanho da fonte*/
}

.design-name::before{
    content: '/00A9';
    font-size: 0.2rem; /*tamanho da fonte*/
}