.container{
    width: 80%;
    max-width: 1440px;
    min-width: 480px;
    margin: auto;
}

.col4, .col8, .col12{
    float: left;
    padding: 0 1% 0 1%;
}

.col4{
    width: 30%;
}

.col8{
    width: 62%;
}

.col12{
    width: 98%;
}