body
{
    margin-top: 3%;
    margin-right: 20%;
    margin-left: 20%;
    background-color: rgb(23, 32, 49);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1
{
    font-size: 40px;
}
h2
{
    font-size: 25px;
    text-align: justify;
}
p
{
    font-size: 20px;
    text-align: justify;
}