#titulo {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: darkmagenta;
    background-color: darkkhaki;
    margin: 5%;
    padding: 10px

}
#subtitulo{
    text-align: center;
    font-family: monospace;
    font-size: 15px;
}
#texto{
    text-align: justify;
    font-size: 1    0px;
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
}
body{
    background-color: chocolate;
    width: 15%;
    text-align: center;
    margin: 0;
}