body{
  	background-color:#BAB8BF;
    color: #283333;
    padding: 10%;
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    text-align: justify;
    line-height: 150%;
}

a{
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
    color: #4169e1;
}
a:visited{
    color: #4169e1;
}
a:hover{
    font-size: 16.30px;
    color: #4169e1;
}
a:active{
    font-size: 16.30px;
    color: red;
}

#titulo{
    font-size: 30px;
    text-shadow: 0 0 0.2em black;
    text-align: center;
    backface-visibility: inherit;
    background-color: darkslategray;
    color: white;
    padding: 7px;
}

#subtitulo{
    text-align: left;
    font-style: italic;
    margin-bottom: 100px;
}

#primeiro{
    color: white;
}
#primeiro:first-letter {
    font-size: 350%;
    color: #993333;
    font-weight: bold;
}
